
<div class="container">  
  
  <mat-card>  
    <!--mat-toolbar color="accent">  
      <div align="center" style="color:white;text-align: right;">  
        CRUD operation in Angular 7 using Web api and Sql Database  
      </div>    
    </mat-toolbar-->  
 

  <button  type="button" (click)="clickHelp()" style="float: right;"> *help </button>
  
  <p [hidden]="!help" style="float: right;"> Klik na naziv rent-a-car kompanije za update ili delete. </p>




    <mat-card-content>  
      <form [formGroup]="rentaCarForm">  
              <table>  
                <tr>  
                  <td>
                    <table>
                        <tr>
                          <td> Rent-a-car name: </td>
                          <td class="tbl1">  
                            <mat-form-field class="demo-full-width">  
                              <input formControlName="Name"  matInput >  
                              
                            </mat-form-field>  
                            <mat-error>  
                              <span *ngIf="!rentaCarForm.get('Name').value && rentaCarForm.get('Name').touched"></span>  
                            </mat-error>  
                          </td>  
                        </tr>

                        <tr>
                          <td> Address: </td>
                          <td class="tbl1">  
                              <mat-form-field class="demo-full-width">  
                                <input formControlName="Address" matInput >  
                                
                              </mat-form-field>  
                              <mat-error>  
                                <span *ngIf="!rentaCarForm.get('Address').value && rentaCarForm.get('Address').touched"></span>  
                              </mat-error>  
                          </td>  
                        </tr> 

                        <tr>
                          <td> City: </td>
                          <td class="tbl1">  
                              <mat-form-field class="demo-full-width">  
                                <input formControlName="City" matInput >  
                                
                              </mat-form-field>  
                              <mat-error>  
                                <span *ngIf="!rentaCarForm.get('City').value && rentaCarForm.get('City').touched"></span>  
                              </mat-error>  
                          </td>  
                        </tr> 

                        <tr>
                          <td> Description: </td>
                          <td class="tbl1">  
                            <mat-form-field class="demo-full-width">  
                              <input formControlName="Description" matInput>  
                            </mat-form-field>  
                            <mat-error>  
                              <span *ngIf="!rentaCarForm.get('Description').value && rentaCarForm.get('Description').touched"></span>  
                            </mat-error>  
                          </td>  
                        </tr> 

                        <tr>
                          <td> Admin: </td>

                          <td class="tbl1">
                            <mat-form-field class="demo-full-width">
                                <select matNativeControl formControlName="CarAdmin" matInput>
                                  <option 
                                  *ngFor="let carAdmin of carAdmins | async" 
                                  value="{{carAdmin.Name}}"  >
                                      {{carAdmin.Name}}
                                  </option>
                                </select>
                            </mat-form-field>  
                           
                            <mat-error>
                              <span
                                  *ngIf="!rentaCarForm.get('CarAdmin').value && rentaCarForm.get('CarAdmin').touched">
                              </span>
                          </mat-error>
                          </td>  
                        </tr> 
                        
                    </table>
                  </td>               
              </table>  
            </form>  
  <br><br>  




      <table class="table table-hover" style="border-spacing: 10px" >  
          <tbody>
            <tr ngclass="btn-primary">   
              <th class="tbl2"> Name </th>  
              <th class="tbl2"> Address </th>  
              <th class="tbl2"> City </th>  
              <th class="tbl2"> Desription </th>   
              <th class="tbl2"> Cars </th>
              <th class="tbl2"> Price (€/day) </th>
              <th class="tbl2"> BranchOffices 
              </th>
              <th class="tbl2"> Rate </th>
            </tr>  
          
            <tr  [class.selected]="rentaCar === selectedRentACar"
            *ngFor="let rentaCar of rentaCars | async" > 
              <td class="tbl2"  (click)="onSelectRentaCar(rentaCar)" >{{ rentaCar.Name }}</td>  
              <td class="tbl2">{{ rentaCar.Address }}</td>  
              <td class="tbl2">{{ rentaCar.City }}</td>  
              <td class="tbl2">{{ rentaCar.Description }}</td>  
            
              <td class="tbl2"> 
                <table>
                  <tr  *ngFor="let c of cars  | async"> 
                    <td class="tbl2" *ngIf="c.RentaCarId == rentaCar.Id">
                        {{  c.Name }}  
                     </td>
                     <td class="tbl2" *ngIf="c.RentaCarId == rentaCar.Id">
                      {{  c.Rate.toFixed(2) }}  
                   </td> 
                 </tr>
                </table>
              </td>
           
              <td class="tbl2">
                <table>
                  <tr *ngFor="let c of cars  | async"> 
                    <td class="tbl2" *ngIf="c.RentaCarId == rentaCar.Id">
                        {{  c.Price }}  
                     </td>
                 </tr>
                </table>
              </td>
            
              <td class="tbl2">
                <table>
                  <tr  *ngFor="let office of branchOffices  | async"  > 
                    <td class="tbl2" *ngIf="office.RentaCarId == rentaCar.Id">
                        {{  office.Name }}  
                     </td>
                     <td class="tbl2" *ngIf="office.RentaCarId == rentaCar.Id">
                      {{  office.Address }}  
                   </td>
                 </tr>
                </table>
              </td>
              <td class="tbl2">{{ rentaCar.Rate.toFixed(2) }}</td>  

           </tr>  

           <tr>
              <td>
                <button type="button" mat-raised-button color="accent" [disabled]="!rentaCarForm.valid" (click)="onSubmit(this.rentaCarForm.value)" > Submit rent-a-car </button>
                <button type="button" mat-raised-button color="accent"
                 [disabled]="!(selectedRentACar && (rentaCarForm.get('Name').valid || rentaCarForm.get('Address').valid || rentaCarForm.get('City').valid || rentaCarForm.get('Description').valid) )" 
                 (click)="updateRentaCar(selectedRentACar)" > Update rent-a-car </button>  
                <button type="button" mat-raised-button color="accent" [disabled]="!selectedRentACar" (click)="deleteRentaCar(selectedRentACar.Id)" > Delete rent-a-car </button> 
              </td>
           </tr>


            
            <tr>
              <td>
                <button type="reset" mat-raised-button color="accent" (click)="onReset()" >Reset</button>  
              </td>                
            </tr> 

            <tr>
              <td>
                  <button type="button" mat-raised-button color="accent" routerLink="/admindashboard" routerLinkActive="active" > back </button>
              </td>
          </tr>

            <tr>
              <td>
                <p *ngIf="saved" style="color:rgb(0, 128, 0);font-size:20px;font-weight:bold" Class="success" align="left">  
                  {{message}}  
                </p>
              </td>
           </tr>

          </tbody>  
        </table>  
          

    </mat-card-content>  
  </mat-card>  
  </div>  



