<ul>
    <li><a class="navbar-item"  [routerLink]="['/airline/'+id]" routerLinkActive="active">Airlines</a></li>
    <li><a class="navbar-item"  routerLink="/rentacar" routerLinkActive="active">Rent-a-car</a></li>
    <li><a class="navbar-item"  [routerLink]="['/searchFlight', id]" routerLinkActive="active">Search flight</a></li>
    <li><a class="navbar-item" [routerLink] ="['/showallreservations', id]" routerLinkActive="active">Show reservations</a></li>
    <!--<li><a class="navbar-item" routerLink="/user" routerLinkActive="active">User</a></li>-->
    <!--<li><a class="navbar-item" routerLink="/login" routerLinkActive="active">Login</a></li>-->
    
</ul>
