<table class="table" >  
    <tr ngclass="btn-primary">  
  <!--    <th class="tbl2">User ID</th>  -->
      <th class="tbl2">DatumSletanja</th>  
      <th class="tbl2">VremeTrajanjaLeta</th>  
      <th class="tbl2">DuzinaPutovanja</th>  
      <th class="tbl2">BrojPresedanja</th>  
      <th class="tbl2">CenaBiznisKlase</th>
      <th class="tbl2">CenaEkonomskeKlase</th>
      <th class="tbl2">CenaPrveKlase</th>  
      <th class="tbl2">MestoPoletanja</th>  
      <th class="tbl2">MestoSletanja</th>  
      <th class="tbl2">OcenaLeta</th>
      <th class="tbl2">IdAvioKompanije</th>
      <th class="tbl2">BrojSedista</th>


    </tr>  
    <tr *ngFor="let flight of allFlights | async">  
   <!--  <td class="tbl2">{{user.UserId}}</td>  --> 
      <td class="tbl2">{{flight.DatumSletanja}}</td>  
      <td class="tbl2">{{flight.VremeTrajanjaLeta}}</td>  
      <td class="tbl2">{{flight.DuzinaPutovanja}}</td>  
      <td class="tbl2">{{flight.BrojPresedanja}}</td>  
      <td class="tbl2">{{flight.CenaBiznisKlase}}</td>
      <td class="tbl2">{{flight.CenaEkonomskeKlase}}</td> 
      <td class="tbl2">{{flight.CenaPrveKlase}}</td> 
      <td class="tbl2">{{flight.MestoPoletanja}}</td>
      <td class="tbl2">{{flight.MestoSletanja}}</td> 
      <td class="tbl2">{{flight.OcenaLeta}}</td>  
      <td class="tbl2">{{flight.IdAvioKompanije}}</td>
      <td class="tbl2">{{flight.BrojSedista}}</td>
      <td class="tbl2">  
        <button type="button" class="btn btn-info"matTooltip="Click Edit Button"(click)="cancelReservation(flight.Id)">Cancel reservation</button> 
         
          <!-- <button type="button" class="btn btn-info"matTooltip="Click Edit Button" [routerLink]="['/flightreservation']">Register</button> -->
      </td>  
      </tr>
</table>