<!-- <table>
    <tr>
        <td>
            <input type="text" [(ngModel)]="toSearch" > <button class="btn btn-success" (click)="doSearch()" > search </button>
       </td>
    </tr>
    <tr> 
        <td>
            <p [hidden]="toSearch===''" > 
                {{ afterSearch }}
            </p>
       </td> 
    </tr>-->
    <table>
    <tr>
        <td> 
            <button class="btn btn-success" (click)="loadAirlines()" > SHOW </button>    
        </td>
    </tr>
</table> 

<br/>




<div class="split left"> 
    <div class="centered">
    <table class="table table-hover">           
        <tbody>
            <tr *ngFor="let ac of airlines | async" (click)="onSelect(ac)" (click)="loadFlights()" >
                    <td>{{ ac.Name }}</td>
            </tr> 
        </tbody>
    </table>       
</div>
</div>
<br/>

<div class="split right" [hidden]="selectedAirline.Name ==='' " *ngIf="selectedAirline"  >
    <div class="centered">
    <table class="table table-hover">   
        <thead>
            {{selectedAirline.Name | uppercase}} details:
        </thead>        
        <tbody>
            <!-- <tr>
                <td> rate: </td>
                <td>{{selectedAirline.rate}}</td>
            </tr>  -->
            <tr> 
                <td> name: </td>
                <td> <input [(ngModel)]="selectedAirline.Name" placeholder="name"/> </td>
            </tr>
            <tr>
                <td> address: </td>
                <td> <input [(ngModel)]="selectedAirline.Address"  placeholder="address"/> </td>
            </tr>
            <tr>
                <td> description: </td>
                <td>  <input [(ngModel)]="selectedAirline.Description" placeholder="description"/> </td>
            </tr>
            <tr>
                <td> flights: </td>
                    <td> 
                        <tr *ngFor="let f of selectedAirline.flights" > 
                           <td>  {{ f.from  }} - {{ f.to }}  - {{ f.price }} e - {{ f.time }} </td>
                        </tr>
                    </td>
            </tr>
        </tbody>
    </table>     
</div>
</div>
<button type="button" class="btn btn-success btn-lg btn-block px-12"
                    [routerLink]="['/register']">Register</button>


