<table> 
    <tr> 
        <td>
            <button class="btn btn-success" (click)="doSearchCar()"    
            [disabled]="!(carToSearch != null && by)" > search car by </button>
            <select name="by" id="by" [(ngModel)]="by" >
                <option value="name" id="name" selected > name </option>
                <option value="rate" id="rate" > rate </option>
                <option value="price" id="price"> price </option>
            </select>           
        </td>
        <td>   
            <input type="text" [(ngModel)]="carToSearch" [disabled]="!(by == 'name' || by == 'rate')"> 
        </td>
        <td>
            <div> min:
                <input type="text" [(ngModel)]="minPrice" [disabled]="by!='price' " >
            </div>
            <div> max:
                <input type="text" [(ngModel)]="maxPrice" [disabled]="by!='price' " >
            </div>
       </td>
       <td>
           <button type="reset" (click)="onReset()" > reset </button>
       </td>
    </tr>
    
    <br>

  

    <tr [hidden]="!donesearch" >
        <td> Search results: </td>
        <td  [hidden]="selectedCar == null" > Rent-a-car service </td>
        <td   [hidden]="selectedCar == null" > Rate </td>
        <td  [hidden]="selectedCar == null" > Price (€/day) </td>
    </tr>

    <tr [hidden]="!donesearch" [class.selected]="fc === selectedCar"
    *ngFor="let fc of foundCars | async" > 
            <td (click)="getRentaCar(fc)" > {{ fc.Name }} </td>     
            <td *ngIf="fc == selectedCar" > {{ foundAtRentaCar }}  </td>
            <td *ngIf="fc == selectedCar" >    {{ fc.Rate }} </td>
            <td  *ngIf="fc == selectedCar" > {{ fc.Price }} </td>        
   </tr> 


</table>

<br/>


<div class="split left">
    <div class="centered">
    <table class="table table-hover">           
        <tbody>
            <tr
            [class.selected]="rc === selectedRentACar" 
            *ngFor="let rc of rentACars | async" (click)="onSelect(rc)" >
                    <td>
                        <span class="badge">{{ rc.Name}}</span> {{rc.Address}}
                    </td>
            </tr> 
        </tbody>
    </table>    
</div>   
</div>

<br/>


<div class="split right" [hidden]="selectedRentACar.Name ==='' " *ngIf="selectedRentACar">
    <div class="centered">
   <table class="table table-hover">   
        <thead>
            {{ selectedRentACar.Name | uppercase}} details:
        </thead>        
        <tbody>
            <tr> 
                <td> name: </td>
                <td> <input [(ngModel)]="selectedRentACar.Name" placeholder="name"/> </td>
            </tr>
            <tr>
                <td> address: </td>
                <td> <input [(ngModel)]="selectedRentACar.Address"  placeholder="address"/> </td>
            </tr>
            <tr>
                <td> description: </td>
                <td>  <input [(ngModel)]="selectedRentACar.Description" placeholder="description"/> </td>
            </tr>
            <tr>
                <td> rate: </td>
                <td>{{selectedRentACar.Rate}}</td>
            </tr> 
            <tr>
                <td> cars: </td>
                    <td>             
                        <tr>
                            <td> name </td>
                            <td> rate </td>
                            <td> price </td>
                        </tr>   
                        <tr *ngFor="let i of selectedRentACar.Cars   | async"> 
                           <td> 
                               {{  i.Name }}  
                            </td>
                            <td> 
                                {{  i.Rate }}  
                             </td>
                             <td>  
                                {{  i.Price }}  
                             </td>
                        </tr>
                    </td>
            </tr>
            <tr>
                <td> branch offices: </td>
                    <td>             
                        <tr>
                            <td> name </td>
                            <td> address </td>
                        </tr>   
                        <tr *ngFor="let i of selectedRentACar.BranchOffices   | async"> 
                           <td> 
                               {{  i.Name }}  
                            </td>
                            <td>  
                                {{  i.Address }}  
                             </td>
                        </tr>
                    </td>
            </tr>

        </tbody>
    </table>    
</div> 
</div>

              

