<table> 
    <tr> 
        <td>
            <input type="text" [(ngModel)]="toSearch" > <button class="btn btn-success" (click)="doSearch()" > search </button>
       </td>
    </tr>
    <tr> 
        <td>
            <p [hidden]="toSearch===''" > 
                {{ afterSearch }}
            </p>
       </td> 
    </tr>
    <tr>
        <td> 
            <button class="btn btn-success" (click)="loadRentACars()" > SHOW </button>    
        </td>
    </tr>
</table>

<br/>


<div class="split left" [hidden]= "rentACars.length === 0" >
    <div class="centered">
    <table class="table table-hover">           
        <tbody>
            <tr
            [class.selected]="rc === selectedRentACar" 
            *ngFor="let rc of rentACars" (click)="onSelect(rc)" (click)="loadCars()" >
                    <td>
                        <span class="badge">{{ rc.rate}}</span> {{rc.name}}
                    </td>
            </tr> 
        </tbody>
    </table>    
</div>   
</div>

<br/>


<div class="split right" [hidden]="selectedRentACar.name ==='' " *ngIf="selectedRentACar">
    <div class="centered">
   <table class="table table-hover">   
        <thead>
            {{ selectedRentACar.name | uppercase}} details:
        </thead>        
        <tbody>
            <tr>
                <td> rate: </td>
                <td>{{selectedRentACar.rate}}</td>
            </tr> 
            <tr> 
                <td> name: </td>
                <td> <input [(ngModel)]="selectedRentACar.name" placeholder="name"/> </td>
            </tr>
            <tr>
                <td> address: </td>
                <td> <input [(ngModel)]="selectedRentACar.address"  placeholder="address"/> </td>
            </tr>
            <tr>
                <td> description: </td>
                <td>  <input [(ngModel)]="selectedRentACar.description" placeholder="description"/> </td>
            </tr>
            <tr>
                <td> cars: </td>
                    <td> 
                        <tr *ngFor="let c of selectedRentACar.cars" > 
                           <td>  {{ c.name }}  </td>
                        </tr>
                    </td>
            </tr>

        </tbody>
    </table>    
</div> 
</div>
<button type="button" class="btn btn-success btn-lg btn-block px-12"
                    [routerLink]="['/register']">Register</button>

