<ul>
    <li><a class="navbar-item"  routerLink="/airline" routerLinkActive="active">Airlines</a></li>
    <li><a class="navbar-item"  routerLink="/rentacar" routerLinkActive="active">Rent-a-car</a></li>
    <li><a class="navbar-item" routerLink="/user" routerLinkActive="active">User</a></li>
    <li><a class="navbar-item" routerLink="/companies" routerLinkActive="active">Add companies</a></li>

    <li><a class="navibar-item"> car admin: {{ username  }} </a> </li>
    <!--<li><a class="navbar-item" routerLink="/login" routerLinkActive="active">Login</a></li>-->
    
</ul>